@page "/info"

@using Models;
@using SardiniaVillageServer.Pages.Hotels.Components;
@using SardiniaVillageServer.Data
@inject RoomsService roomsService

<h2 class="bg-light border p-2">
    Info Stanze
</h2>

<div class="row">
    @foreach (var Myroom in RoomList)
    {
        <div class="roomCard">
            <Room room=Myroom OnRoomClick="BookRoom" />
        </div>
    }
</div>

@if (@BookedRoom != null)
{
    <span>Hai prenotato la stanza @BookedRoom.Description</span>
}


@code {

    public Rooms BookedRoom { get; set; }

    List<Rooms> RoomList;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomList = roomsService.GetRooms();

    }

    protected void BookRoom(int idRoom)
    {
        this.BookedRoom = this.RoomList.Where(e => e.Id == idRoom).First();

        //this.BookedRoom = room;

    }

}
